{% extends 'base.html' %}

{% block title %}
    {{ user.username }} profile
{% endblock %}

{% block content %}
    {% if self_dash %}
        <a href="{% url 'posts:add_post' request.user.id %}" class="btn btn-primary">Add post</a>
    {% endif %}
    <h4 class="text-center">{{ user.username|capfirst }}</h4>
    <p class="text-center">{{ user.profile.bio }}</p>
    <br>
    <br>
    <br>

    {% for post in posts %}
        <div class="card">
            <p class="card-body"><a href="{{ post.get_absolute_url }}">{{ post.body }}</a></p>
        </div>
    {% empty %}
        this user has no post
    {% endfor %}

{% endblock %}