{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ user.username }} profile
{% endblock %}

{% block content %}
    {% if self_dash %}
        <a href="{% url 'posts:add_post' request.user.id %}" class="btn btn-primary">Add post</a>
        <a class="btn btn-primary" href="{% url 'account:profile_edit' request.user.id %}">Edit Profile</a>
    {% endif %}
    <h4 class="text-center">{{ user.username|capfirst }}</h4>
    <p class="text-center">{{ user.profile.bio }}</p>
    {% if request.user.id != user.id and not is_following %}
        <div class="text-center">
            <button id="following_btn" data-id="{{ user.id }}" class="btn btn-primary">follow</button>
        </div>
    {% elif request.user.id != user.id and  is_following %}
        <div class="text-center">
            <button id="following_btn" data-id="{{ user.id }}" class="btn btn-warning">unfollow</button>
        </div>
    {% endif %}
    <br>
    <br>
    <br>

    {% for post in posts %}
        <div class="card">
            <p class="card-body"><a href="{{ post.get_absolute_url }}">{{ post.body }}</a></p>
        </div>
    {% empty %}
        this user has no post
    {% endfor %}

{% endblock %}


{% block script %}
    <script src="{% static 'account/js/script.js' %}"></script>
{% endblock %}