{% extends 'base.html' %}

{% block title %} post {% endblock %}



{% block content %}
    {% if request.user.is_authenticated and request.user.id == post.user.id %}
        <a href="{% url 'posts:post_delete' post.user.id post.id %}" class="btn btn-danger">Delete post</a>
        <a href="{% url 'posts:post_edit' post.user.id post.id %}" class="btn btn-primary">Edit post</a>
    {% endif %}

    <p class="card-header">{{ post.user }} | {{ post.created|date }} | {{ redis_views }} view{{ redis_views|pluralize }} </p>
    <p class="card-body">{{ post.body }}</p>
    <hr/>

    {% if request.user.is_authenticated %}
        {% if can_like %}
            <a href="{% url 'posts:post_like' post.id %}"
               class="btn btn-primary col-md-2 ">Like {{ post.likes_counter }} </a>
        {% else %}
            <a href="{% url 'posts:post_dislike' post.id %}"
               class="btn btn-primary col-md-2 ">Dislike {{ post.likes_counter }} </a>
        {% endif %}
        <br/><br/>
        <form action="" method="post" novalidate class="col-md-4">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Send" class="btn btn-primary">
        </form>
    {% else %}
        <p>only logged in users can send comments</p>
    {% endif %}<br/><br/>

    {% for comment in comments %}
        <div class="card p-2 bg-dark text-white">
         <span>
             <small class="card-header ">{{ comment.user }}</small>
         </span>
            <div class="d-flex  card-body text-white justify-content-between ">
                <div class="m-3">
                    <small>{{ comment.body }}</small>
                </div>
                {% with total=comments.count %}
                    <small>{{ comment.created|timesince }} | {{ total }} comment{{ total|pluralize }}</small>
                {% endwith %}
            </div>

            {% for reply in comment.replies.all %}
                <div class="bg-primary text-white p-2 m-4">
                    <small>{{ reply.user }}</small>
                    <hr>
                    <div class="d-flex  text-white justify-content-between ">
                        <p class="p-2">{{ reply.body }}</p>
                        <small>{{ reply.created|timesince }} </small>
                    </div>
                </div>
            {% endfor %}
            {% if request.user.is_authenticated %}
                <div class="card-body form-floating" id="reply-div">
                    <form action="{% url 'posts:add_reply' post.id comment.id %}" method="post" novalidate>
                        {% csrf_token %}
                        {{ reply_form.as_p }}
                        <input type="submit" class="btn btn-danger" value="Send">
                    </form>
                </div>
            {% else %}
                <div class="card p-3 bg-dark text-warning">
                    you have to login to send reply
                </div>
            {% endif %}
            <div class="action d-flex justify-content-between mt-1 align-items-center">
                <div class="reply px-4">
                    <small class="text-danger">Remove</small> | <a onclick="hideDivFunction()"><small class="text-info">Reply</small></a>
                </div>
            </div>
        </div>
        <br>
    {% empty %}
        <div class="card p-3 bg-dark text-warning">
            There is no comment
        </div>
    {% endfor %}
    {% block script %}
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
                crossorigin="anonymous"></script>
        <script>
            function hideDivFunction() {
                const reply_div = document.getElementById('reply-div');
                if (reply_div.style.display === 'none') {
                    reply_div.style.display = 'block';
                } else {
                    reply_div.style.display = 'none';
                }
            }

        </script>

    {% endblock %}

{% endblock %}
